<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Enjoy the best news.">
        <meta name="author" content="PywE">
        <title>Our News</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Font-Awesome-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/materialize.css">
    </head>
    <body>
        <header>
        </header>
        <main>
            <h3 class='card-panel purple white-text center-align z-depth-5'>Welcome to Awesome News</h3>
            <div class="container">
                <p>You are at the right place for your latest and hottest news!. We report as it happens.</p>
            </div>    
        </main>
    </body>
    <script type="text/javasceript" src="/static/js/jquery.min.js" ></script>
    <script type="text/javasceript" src="/static/materialize.js" ></script>
</html>
